.navbar ul li {
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    cursor: pointer;

    &:hover {
        background-color: rgb(20, 104, 104);
        outline-color: #00d5be; 
    }
}